@keyframes anm_burgerActive {
  to {
    width: 2rem;
    transition: width 0.3s ease-in-out;
  }
}

@keyframes anm_burgerMidInactive {
  from {
    width: 2rem;
  }

  to {
    width: 1.5rem;
    transition: width 0.3s ease-in-out;
  }
}

@keyframes anm_burgerBotInactive {
  from {
    width: 2rem;
  }

  to {
    width: 1rem;
    transition: width 0.3s ease-in-out;
  }
}

@keyframes anm_btnFadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes anm_btnFadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes anm_navLogo {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}

@keyframes anm_modalIn {
  from {
    bottom: -250%;
    transform: translateY(-100%);
  }
  to {
    bottom: 0;
    transform: translateY(0);
  }
}

@keyframes anm_modalOut {
  from {
    bottom: 0;
    transform: translateY(0);
    transition: transform 0.3s;
  }
  to {
    bottom: -250%;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
}

@keyframes anm_imageFadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes anm_imageFadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes anm_carouselFadeIn {
  from {
    opacity: 0.35;
  }

  to {
    opacity: 1;
  }
}
