@keyframes anm_burgerActive {
  to {
    width: 2rem;
    transition: width 0.3s ease-in-out;
  }
}

@keyframes anm_burgerMidInactive {
  from {
    width: 2rem;
  }

  to {
    width: 1.5rem;
    transition: width 0.3s ease-in-out;
  }
}

@keyframes anm_burgerBotInactive {
  from {
    width: 2rem;
  }

  to {
    width: 1rem;
    transition: width 0.3s ease-in-out;
  }
}

@keyframes anm_btnFadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes anm_btnFadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes anm_modalIn {
  from {
    transform: translateY(-100%);
    bottom: -100%;
  }
  to {
    transform: translateY(0);
    bottom: 0;
  }
}

@keyframes anm_modalOut {
  from {
    transform: translateY(0);
    bottom: 0;
    transition: transform 0.3s;
  }
  to {
    transform: translateY(-100%);
    bottom: -100%;
    transition: transform 0.3s;
  }
}
