@use './colors' as c;
@use './mixins' as m;

.contact {
  &__title {
    padding: 0.75rem;
    margin: 2rem 5rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.75rem;
  }
  &__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 100%;
    &--title {
      font-weight: 100;
      font-size: 2.5rem;
    }
    &--img {
      width: 4rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;

    &--text {
      width: 100%;
      padding: 1px 1rem;
      margin: 1rem auto;
      font-family: var(--bold-font);
      font-size: 1.2rem;
      text-align: left;
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 0.25rem;
      margin: 0.25rem auto;
      font-size: 1.12rem;

      &--img {
        padding: 0.75rem;
        margin-right: 0.5rem;
        width: 3.5rem;
      }
    }
  }

  &__boxes {
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    &-option {
      display: flex;
      width: 100%;
      margin: 0.5rem;

      &--img {
        width: 3.25rem;
        padding: 0.75rem;
      }

      &--input {
        width: 100%;
        padding: 0.25rem;
        border: none;
        font-size: 0.85rem;
      }

      &--title {
        margin: 0.5rem auto 0;
        padding: 0.25rem;
        white-space: nowrap;
        font-weight: 100;
        text-transform: uppercase;
      }

      &--textarea {
        padding: 1rem 3.5rem;
        min-width: 100%;
        max-width: 0;
        min-height: 8.5rem;
        width: 100%;
        max-height: 8.5rem;
        line-height: 1.35rem;
        resize: none;
        background-image: url('../img/icon_msg.svg');
        background-repeat: no-repeat;
        background-position: 3.05% 9%;
        border: none;
        font-size: 0.85rem;
      }
    }

    &-box {
      display: flex;
      align-items: center;
      margin: 0.1rem auto;
      width: 100%;
      padding: 0.25rem;
      white-space: nowrap;
      &--text {
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }

    &-error {
      border: 1px solid red;
      visibility: hidden;
    }

    &-clause {
      width: 18rem;
      &--text {
        padding: 0.5rem;
        line-height: 1.5rem;
        font-style: italic;
        font-size: 0.88rem;
        cursor: pointer;
      }
    }
    &-btns {
      display: flex;
      flex-direction: column;
      margin: 1rem auto 0.25rem;

      &--btn {
        margin: 0.5rem auto;
      }
    }
  }

  &__mapBox {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.5rem;

    &--map {
      width: 21rem;
      height: 13.5rem;
      border-radius: 0.5rem;
    }
  }
}
