@use './colors' as c;

.contact {
  &__title {
    padding: 0.75rem;
    margin: 2rem 5rem;
    text-align: left;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  &__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 100%;
    &--title {
      font-weight: 100;
      font-size: 2.5rem;
    }
    &--img {
      width: 4rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;

    &--text {
      width: 100%;
      text-align: left;
      padding: 1px 1rem;
      font-family: var(--bold-font);
      font-size: 1.2rem;
      margin: 1rem auto;
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 0.25rem;
      margin: 0.25rem auto;
      font-size: 1.12rem;
      &--img {
        padding: 0.75rem;
        margin-right: 0.5rem;
        width: 3.5rem;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    // width: 90%;
    margin: 0 auto;
    padding: 1.75rem;
    justify-content: space-evenly;
    // border: 1px solid royalblue;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    &--title {
      position: relative;
      margin: 1rem auto 1.5rem;
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 55px;
        left: 0;
        border-bottom: 1px solid c.$secondary-color;
      }
    }
    &-option {
      position: relative;
      margin: 0.5rem auto;
      padding: 1rem;

      &--img {
        position: absolute;
        width: 1.85rem;
        top: 29px;
        left: 27px;
      }

      &--input {
        padding: 1.25rem;
        border: none;
        border-radius: 0.5rem;
        text-align: center;
        -webkit-box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
        box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
      }

      &--title {
        margin: 1rem auto;
        padding: 0.25rem;
        font-weight: 100;
        text-transform: uppercase;
      }

      &--textarea {
        min-width: 15.5rem;
        min-height: 5.75rem;
        max-width: 15.5rem;
        max-height: 10rem;
        padding: 1.25rem;
        -webkit-box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
        box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
        border-radius: 0.5rem;
        border: none;
        text-align: center;
      }
    }

    &-box {
      display: flex;
      margin: 1rem auto;
      align-items: center;
      padding: 0.5rem;
      width: 55%;
      white-space: nowrap;
      cursor: pointer;
      &--checkbox {
        cursor: pointer;
      }
      &--text {
        margin-left: 1rem;
        // padding: 1rem;
      }
    }

    &-btns {
      display: flex;
      flex-direction: column;
      margin: 1.5rem auto;

      &--btn {
        margin: 0.5rem auto;
      }
    }
  }

  &__mapBox {
    display: flex;
    margin-top: 1rem;
    &--map {
      height: 25rem;
      width: 21rem;
    }
  }
}
