@use './mixins' as m;
@use './colors' as c;

a {
  text-decoration: none;
  color: c.$secondary-color;
}

main {
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto;

  &:first-child {
    margin-top: 27rem;
  }
  // border: 1px solid gold;
}

.sectionTitle {
  font-size: 40px;
  margin-top: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  text-align: center;
  overflow-x: hidden;
}

.btn {
  @include m.buttonSettings;
}

.cta {
  @include m.buttonCta;
}
