@use './mixins' as m;
@use './colors' as c;

a {
  text-decoration: none;
  color: c.$secondary-color;
}

a,
textarea,
input,
iframe {
  @include m.focus;
}

input[type='checkbox'] {
  accent-color: c.$accent-color;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
}

main {
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  min-width: 17rem;
  width: 100%;
  max-width: 75rem;
}

.sectionTitle {
  margin-top: 2rem;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.center {
  max-width: 75rem;
}

.btn {
  @include m.buttonSettings;
  @include m.focus;
}

.cta {
  @include m.buttonCta;
}

.inactive {
  color: grey;
}

.active {
  top: 0px;
}

.dflex {
  display: flex;
}

.burgerActive {
  animation: anm_burgerActive 0.3s ease-in-out forwards;
}

.upBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  padding: 0.15rem;
  bottom: 10px;
  right: 5px;
  background-color: c.$accent-color;
  background-position: center;
  border-radius: 25%;
  visibility: hidden;
  transition: border-radius 0.3s ease-in-out;

  &:hover {
    border-radius: 50%;
  }
}

.btnFadeOut {
  animation: anm_btnFadeOut 0.3s ease-in-out forwards;
}

.btnFadeIn {
  animation: anm_btnFadeIn 0.3s ease-in-out forwards;
}

.navActive {
  color: c.$primary-color;
  background-color: c.$secondary-color;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.modalActive {
  animation: anm_modalIn 0.85s ease-in-out forwards;
}

.modalInactive {
  animation: anm_modalOut 1.5s ease-in-out forwards;
}

.shadow {
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
  box-shadow: 1px 2px 16px -7px rgba(66, 68, 90, 1);
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.formError {
  @include m.formError(c.$errorMsg);
}

.formErrorText {
  padding: 0.5rem;
  color: c.$errorMsg;
}

.required {
  display: inline-block;
  height: 1px;
  width: 10.5px;
  font-size: 1.75rem;
  color: c.$errorMsg;
}

.box-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 1000rem;
  height: 1000rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.noScroll {
  overflow: hidden;
}

.imageFadeIn {
  animation: anm_imageFadeIn 0.85s ease-in-out both;
}

.imageFadeOut {
  animation: anm_imageFadOut 0.85s ease-in-out both;
}
