@media (width >= 300px) {
  .parallax {
    &__hero {
      &-box {
        &--title {
          font-size: 2rem;
        }
      }
    }
  }

  .carousel {
    min-width: 90%;
  }
}

@media (width >= 400px) {
  .about {
    &__box {
      &--title,
      &-text {
        padding: 0.5rem 1.5rem;
        text-align: center;
      }
    }
  }

  .offers {
    &__box {
      &-item {
        &--img {
          width: 21.5rem;
        }
      }
    }
  }

  .error {
    &__box {
      &--image {
        width: 23.375rem;
      }
    }
  }

  .footer {
    &__logo {
      &-link {
        font-size: 2.8rem;
      }
    }
  }
}

@media (width >=430px) {
  .modal {
    left: auto;
    right: auto;
  }
}

@media (width >=550px) {
  .modal {
    width: 30rem;
  }
}

@media (width >=576px) {
  .offers {
    &__box {
      &-item {
        &--img {
          width: 25.5rem;
        }
      }
    }
  }
}

@media (width >= 768px) {
  .header {
    &__box {
      &--title {
        font-size: 1.75rem;
      }

      &--subtitle {
        font-size: 3rem;
      }
    }
  }
}

@media (width >= 850px) {
  .carousel {
    min-width: 47.688rem;
    height: 50%;
  }
}

@media (width >= 992px) {
  .noScroll {
    overflow: auto;
  }

  .sectionTitle {
    margin-bottom: 1.25rem;
  }

  .nav {
    &__burger {
      display: none;
    }
    &__mobile {
      display: none;
    }
    &__desktop {
      display: flex;
      justify-content: flex-end;
    }
  }

  .header {
    &__hero {
      background-image: url('../img/heroHD.jpg');
    }
  }

  .about {
    &__content {
      margin-bottom: 2.25rem;
      flex-direction: row;
    }

    &__box {
      margin: 0 1rem;
      width: 50%;
      text-align: left;
      &--title {
        text-align: left;
      }

      &-text {
        width: 100%;
        line-height: 2.05rem;
        text-align: left;
      }

      &:nth-child(2) {
        display: flex;
        align-self: flex-start;
      }
      &--image {
        height: 100%;
      }
    }
  }

  .parallax {
    &__hero {
      background-attachment: fixed;
      &-box {
        width: 70%;
        &--title {
          font-size: 2.5rem;
        }
      }
    }
  }

  .offers {
    &__content {
      flex-direction: row;
    }
    &__card {
      margin: 2rem 1rem;
    }

    &__boxes {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__box {
      flex-direction: row;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }
      &-details {
        flex-direction: column;
      }

      &-item {
        &:hover &--img {
          transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 1;
          scale: 1.03;
        }
        &--img {
          width: 27rem;
          height: 20rem;
          transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 0.5;
        }
      }
    }
  }

  .carousel {
    min-width: 55rem;
  }

  .error {
    &__box {
      &--title {
        width: 100%;
        font-size: 2.35rem;
      }
      &--image {
        width: 35rem;
        margin: 0 1rem;
      }
    }
  }

  .footer {
    &__container {
      flex-direction: row;
      margin: 0 auto;
      width: 57.5rem;
    }
    &__logo {
      margin-top: -4rem;
      margin-right: 2.5rem;
    }
    &__list {
      height: 14rem;
      &--title {
        width: 10rem;
        margin-left: 1.906rem;
      }
      &--item {
        justify-content: flex-start;
        width: 9rem;
      }

      &:nth-child(3) {
        margin-left: -2rem;
      }

      &:nth-child(4) {
        margin-left: 0.5rem;
      }
    }
  }

  .contact {
    &__brand {
      justify-content: center;
    }

    &__info {
      margin: 0 auto;

      &-link {
        margin: 0;
      }
    }

    &__form {
      padding: 1.5rem;

      &-box {
        &--checkbox {
          margin: 0 0.5rem;
        }
      }
      &-option {
        &:nth-child(6) {
          flex-direction: row;
        }
      }
      &-btns {
        flex-direction: row;

        &--btn {
          margin: 0 0.5rem;
        }
      }
    }

    &__boxes {
      flex-direction: row;
    }

    &__box {
      flex-direction: row;
      margin: 0.75rem;
    }

    &__mapBox {
      margin-top: 0;
      padding: 0;
      height: 40rem;
      &--map {
        width: 27.8rem;
        height: 44.25rem;
      }
    }
  }
}

@media (width >= 1200px) {
  .header {
    &__box {
      align-items: flex-start;
      &--subtitle {
        text-align: left;
      }
    }
  }

  .carousel {
    min-width: 70rem;
    height: 60%;
  }

  .error {
    &__box {
      &--image {
        width: 45rem;
      }
    }
  }
}

@media (height < 400px) {
  .carousel {
    height: 13.25rem;
  }
}
