@use './colors' as c;
@use './mixins' as m;

.nav {
  display: flex;
  position: fixed;
  height: 6rem;
  width: 100%;
  top: 0;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 13rem;
    width: 100%;
    background-color: c.$primary-color;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    min-width: 3rem;

    cursor: pointer;
    z-index: 555;
    // border: 1px solid;

    border: 1px solid;
    transition: width 1s ease-in-out;

    &:hover &--icon::before {
      width: 20px;
    }

    &:hover &--icon::after {
      width: 20px;
    }

    &:hover &--icon {
      width: 20px;
    }

    &--icon {
      display: flex;
      justify-content: flex-end;
      position: relative;
      width: 15px;
      border-bottom: 2px solid black;

      &::before {
        content: '';
        border-bottom: 2px solid black;
        position: absolute;
        width: 15px;
        top: 7px;
      }

      &::after {
        content: '';
        border-bottom: 2px solid black;
        position: absolute;
        width: 20px;
        top: -7px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    z-index: 555;

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 2.5;
      font-size: 2.25rem;
      padding: 0.5rem;
    }
    &--image {
      display: flex;
      min-width: 2.25rem;
      max-width: 2.25rem;
    }
  }

  &__mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -1000px;
    // transform: translateY(-1000px);
    width: 100dvw;
    min-height: 100vh;
    background-color: c.$primary-color;
    transition: top 0.3s ease-in-out;
    &--link {
      position: relative;
      margin: 0.5rem auto;
      border: 1px solid;
      padding: 1.35rem;
      min-width: 8rem;
      font-size: 1.45rem;
      text-align: center;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        background-color: c.$secondary-color;
        color: c.$primary-color;
      }
    }
  }

  &__desktop {
    display: flex;
    display: none;
    // align-items: center;

    &--link {
      min-width: fit-content;
      @include m.navigation;
      padding: 2.4rem;
    }
  }
}

.active {
  top: 0px;
}

.burgerActive {
  animation: anm_BurgerActive 1s ease-in-out linear forwards;
}

@keyframes anm_BurgerActive {
  from {
    width: 30px;
  }

  to {
    width: 40px;
  }
}
