@use './colors' as c;

.parallax {
  &__content {
    min-width: 10rem;
    width: 100%;
    overflow: hidden;
    // height: fit-content;
  }

  &__hero {
    border: 1px solid red;
    // background-image: url('../img/parallax.jpg');
    // background-attachment: fixed;
    width: 100%;
    background-position: center;
    background-size: cover;
    // padding: 10rem;
    height: 20rem;
    position: relative;
    z-index: 1;
    color: c.$primary-color;
    &--img {
      // position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../img/parallax.jpg');
      background-size: cover;
      background-attachment: local;
      background-position: center;
    }
  }
  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}
